html {
  scroll-behavior: smooth;
}

body {
  font-family: "Shippori Mincho", serif;
  font-size: 16px;
  color: #572a0b;
  background-image: url(./img/back1.jpeg);
  background-repeat: repeat;
  letter-spacing: 0.15em;
}

/*-------------------------------------------
ローディング部分
-------------------------------------------*/

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeOut 1.5s 2.5s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.loading__logo {
  opacity: 0;
  animation: logo_fade 1.7s 0.5s forwards;
  width: 230px;
}

@keyframes logo_fade {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  60% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
  }
}

/*-------------------------------------------
ヘッダー
-------------------------------------------*/

.menu {
  writing-mode: vertical-rl;
  font-size: 19px;
  line-height: 2.5em;
  letter-spacing: 0.3em;
  position: absolute;
  top: 5%;
  right: 7%;
  z-index: 10;
}

.menu li:nth-child(4) {
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  text-orientation: upright;
}

.header-logo {
  position: absolute;
  left: 3.5%;
  top: 450px;
  width: 250px;
  z-index: 10;
}

/*==================================
スライダー部分
===================================*/

.slider {
  position: relative;
  z-index: 1;
  list-style-type: none;
}

.slider img {
  object-fit: cover;
  height: 740px;
  object-fit: cover;
  width: 100%;
}

/*-------------------------------------------
こだわり
-------------------------------------------*/

.kodawari {
  background: radial-gradient(#6a4319, #482801);
}

.kodawari-wrap {
  display: flex;
  height: 550px;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  color: #fef2d8;
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 2.5s, transform 2.5s;
}

.kodawari-text-wrap {
  display: flex;
  flex-direction: row-reverse;
}

.kodawari-text {
  writing-mode: vertical-rl;
  line-height: 2.3em;
}

.kodawari-img {
  border-radius: 30px;
  width: 37%;
  height: 370px;
  object-fit: cover;
  margin-right: 8%;
}

.kodawari-text-wrap h2 {
  writing-mode: vertical-rl;
  font-size: 35px;
  letter-spacing: 0.1em;
  position: relative;
  margin-left: 10%;
}

.kodawari-text-wrap h2::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 62px;
  border-left: 3px solid #fef2d8;
}

.kodawari-text-wrap h2::after {
  content: "";
  display: block;
  width: 1.7px; /* 縦線の太さ */
  height: 100%;
  background-color: #fef2d8;
  position: absolute;
  top: 0;
  right: -13px;
}

/*-------------------------------------------
商品案内
-------------------------------------------*/

h2 img {
  width: 400px;
  margin-bottom: 1%;
}

.content {
  padding: 0% 10%;
}

.content h2 {
  font-size: 50px;
  text-align: center;
  margin-top: 10%;
}

.content-wrap {
  display: flex;
  flex-direction: row-reverse;
  height: 400px;
  align-items: center;
  justify-content: center;
  margin-top: 7%;
  margin-bottom: 7%;
  margin-left: -5%;
}

.content-text-wrap {
  display: flex;
  flex-direction: row-reverse;
  margin-left: 10%;
}

.content-text-wrap h3 {
  writing-mode: vertical-rl;
  font-size: 32px;
  letter-spacing: 0.1em;
  margin-left: 15%;
  position: relative;
}

.content-text-wrap h3::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 60px;
  border-left: 3.8px solid #6b3613;
}

.content-text-wrap h3::after {
  content: "";
  display: block;
  width: 2.3px; /* 縦線の太さ */
  height: 100%;
  background-color: #6b3613;
  position: absolute;
  top: 0;
  right: -15px;
}

.content-text {
  writing-mode: vertical-rl;
  line-height: 2.8em;
}

.content-img {
  border-radius: 30px;
  width: 100%;
  height: 320px;
  object-fit: cover;
}

.content-img-wrap {
  position: relative;
}

.content-link {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 110px;
  background: #810a00;
  color: #fff;
  text-decoration: none;
  text-align: center;
  margin: 10px 0;
  font-size: 14px;
  letter-spacing: 0.01em;
  position: absolute;
  bottom: -13%;
  right: -5%;
}

.content-link-smartphone {
  display: none;
}

.content.second .content-wrap {
  flex-direction: row;
}

.content.second .content-text-wrap {
  margin-right: 8%;
  margin-left: 5%;
}

.content-link-end {
  background-color: #6e2600;
  width: 30%;
  height: 48px;
  color: #fff;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 6%;
  margin-bottom: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*-------------------------------------------
お知らせ
-------------------------------------------*/
.news {
  background-image: url(./img/back2.jpeg);
  background-repeat: repeat;
}

.news-wrap {
  padding: 6% 5%;
  width: 90%;
  margin: 0 auto;
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 2s, transform 2s;
}

.news-wrap h2 {
  font-size: 32px;
  margin-bottom: 7%;
  text-align: center;
}

dl {
  display: flex;
  border-bottom: 0.8px solid;
  width: 100%;
  margin-bottom: 3%;
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: 2%;
  white-space: nowrap;
  margin-left: 8%;
}

dd a:hover {
  color: #83000b;
}

/*-------------------------------------------
SNS
-------------------------------------------*/
.sns-wrap {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 2s, transform 2s;
}

.sns h2 {
  font-size: 32px;
  margin-top: 4%;
  margin-bottom: 4%;
  text-align: center;
  letter-spacing: 0.3em;
}

.sns_contents {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 3% 2%;
  padding: 0 10%;
}

.sns_contents img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1 / 1;
  border-radius: 15px;
}

.sns-link {
  background-color: #810a00;
  width: 25%;
  height: 45px;
  border-radius: 3%;
  color: #fff;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 6%;
  margin-bottom: 6%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sns-img-box {
  overflow: hidden;
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 15px;
}

.sns_contents img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1 / 1;
  transition-duration: 0.7s;
}

.sns_contents img:hover {
  transform: scale(1.08);
  opacity: 0.7;
}

/*-------------------------------------------
店舗案内
-------------------------------------------*/

.storeguide {
  height: auto;
  background-image: url(./img/back2.jpeg);
  background-repeat: repeat;
}

.storeguide-text h2 {
  font-size: 32px;
  margin-bottom: 5%;
  padding: 0 10px;
}

.storeguide-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10% 5%;
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 2s, transform 2s;
}

.storeguide-text {
  margin-left: 5%;
}

.stor-img {
  width: 40%;
  border-radius: 30px;
  object-fit: cover;
  height: 300px;
}

.stor th,
.stor td {
  line-height: 2.5em;
  padding: 0 10px;
}

.stor th {
  font-weight: bold;
}

/*-------------------------------------------
マップ
-------------------------------------------*/
iframe {
  width: 100%;
  height: 400px;
  aspect-ratio: 16/9;
}

/* ふわっと順番に表示 */

.active {
  opacity: 1;
  transform: translateY(0);
}

.fadeUp {
  animation-name: fadeUpAnime;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeUpAnime {
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*-------------------------------------------
フッター
-------------------------------------------*/
footer {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(./img/footer_img.jpg);
  background-size: cover;
  background-position: 50% 40%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer nav {
  width: 100%;
}

.footer-menu {
  font-weight: bold;
  writing-mode: vertical-rl;
  line-height: 3.7em;
  letter-spacing: 0.3em;
  font-size: 15px;
  color: #fff;
  padding: 20% 0%;
  margin: 0 auto;
}

.footer-menu li:nth-child(4) {
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  text-orientation: upright;
}

.footer-logo {
  width: 50%;
  display: block;
  margin: 0 auto;
  margin-bottom: 10%;
}

.footer-copy {
  font-size: 10px;
  color: #fff;
  padding-bottom: 3%;
}

/*-------------------------------------------
800px＿ヘッダー
-------------------------------------------*/
@media (max-width: 800px) {
  .menu {
    text-shadow: 2px 2px 5px #fff, -2px 2px 5px #fff, 2px -2px 5px #fff,
      -2px -2px 5px #fff;
  }

  .header-logo {
    position: absolute;
    top: 490px;
    left: 2.5%;
    width: 220px;
  }

  /*-------------------------------------------
800px＿こだわり
-------------------------------------------*/

  .kodawari {
    padding-bottom: 8%;
  }

  .kodawari-wrap {
    flex-direction: column;
    height: 870px;
  }

  .kodawari-text-wrap {
    margin-top: 8%;
    margin-bottom: 15%;
  }

  .kodawari-img {
    order: -1;
    width: 85%;
    margin-right: 0;
    margin-top: 18%;
    margin-bottom: 1.5%;
  }

  .kodawari-text {
    display: flex;
    line-height: 2em;
  }

  /*-------------------------------------------
800px＿商品案内
-------------------------------------------*/

  h2 img {
    width: 360px;
    margin-bottom: 10%;
  }

  .content {
    padding: 0 5%;
  }

  .content-wrap {
    flex-direction: column;
    height: auto;
    margin-left: 0;
    width: 93%;
    margin: 0 auto;
  }

  .content-text-wrap {
    margin-top: 10%;
    margin-left: 0%;
    order: 2;
    gap: 4%;
  }

  .content-img {
    order: 1;
  }

  .content-text {
    display: flex;
    line-height: 2.5em;
  }

  .content-link {
    display: none;
  }

  .content-link-smartphone {
    display: flex;
    order: 3;
    background-color: #810a00;
    width: 59%;
    height: 48px;
    border-radius: 5px;
    font-size: 14px;
    color: #fff;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
  }

  .kodawari-text-wrap h2 {
    font-size: 30px;
    margin-left: 10%;
  }

  .content-text-wrap h3 {
    margin-left: 5%;
  }

  .content.second .content-wrap {
    flex-direction: column;
    height: 1000px;
  }

  .content.second .content-img {
    margin-left: 0;
  }

  .content-link-end {
    width: 55%;
    font-size: 14px;
    height: 48px;
    margin-top: 2%;
  }

  /*-------------------------------------------
800px_お知らせ
-------------------------------------------*/
  .news-wrap h2 {
    margin-top: 5%;
    margin-bottom: 7%;
    font-size: 30px;
  }

  dl {
    flex-direction: column;
    border-bottom: 0.8px solid;
    margin-bottom: 5%;
    width: 100%;
  }
  dd {
    margin-left: 0%;
    white-space: normal;
  }

  .news-wrap {
    padding: 13% 7%;
    line-height: 1.7;
  }

  /*-------------------------------------------
800px_SNS
-------------------------------------------*/

  .sns h2 {
    margin: 8% 0%;
  }

  .sns_contents {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 3% 3%;
    padding: 0 8%;
  }

  .sns-link {
    margin-top: 23%;
    margin-bottom: 12%;
    width: 50%;
  }

  /*-------------------------------------------
800px_店舗案内
-------------------------------------------*/

  .storeguide-text h2 {
    margin-top: 8%;
    text-align: center;
  }

  .storeguide-wrap {
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
  }

  .stor-img {
    width: 93%;
    margin: 0 auto;
  }

  .storeguide-text {
    display: initial;
  }

  .storeguide-text {
    margin-left: 0%;
  }

  .stor {
    margin-left: 5%;
  }

  .stor,
  .stor tr,
  .stor td,
  .stor th {
    display: block;
    padding: 0;
  }
  .stor th {
    margin-left: 0%;
  }
}

/*-------------------------------------------
450x＿ヘッダー
-------------------------------------------*/
@media (max-width: 450px) {
  .slider img {
    height: 667px;
  }

  .header-logo {
    position: absolute;
    left: 0%;
    top: 410px;
    z-index: 10;
  }

  /*-------------------------------------------
450x＿こだわり
-------------------------------------------*/
  .kodawari-text {
    font-size: 15px;
    line-height: 1.8em;
  }

  .kodawari-text-wrap {
    gap: 5.5%;
  }

  .kodawari-text-wrap h2 {
    font-size: 32px;
    margin-left: 6%;
  }

  .kodawari-text-wrap h2::before {
    left: 58px;
  }

  .kodawari-text-wrap h2::after {
    right: -13px;
  }

  /*-------------------------------------------
450x＿商品案内
-------------------------------------------*/

  h2 img {
    width: 320px;
  }
}
